@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{

    .hs-overlay-backdrop{
    opacity: 50%
    }

    .container{
        @apply max-w-7xl;
    }
    .card {
        @apply rounded-md shadow-md bg-white relative;
    }
    .card-body {
        @apply p-6;
    }
    .hs-dropdown-menu{
        @apply  shadow-md bg-white relative rounded-md;  
    }

    .btn{
        @apply rounded-md text-sm py-2 px-4 text-center;
    }
    .btn-outline-primary{
        @apply rounded-md border text-sm py-2 px-4 text-center;
    }

    .margin0{
        margin-bottom: 0 !important;
    }

    tr:hover .highlight {
        @apply text-table-1 text-xl;
    }

    .hidden {
        display: none;
    }
    .active {
        display: table;
    }

    #burger span {

		@apply w-8 h-0.5 bg-white m-1.5
	}

    #burger span:first-child {
        margin-bottom: 1rem;
    }
    
    #burger span {
        margin-top: -2px;
    }

    .nav-items {

		@apply px-4 text-xl text-center align-baseline font-semibold duration-300 hover:text-slate-200
	}

	#menu-items {
		height: 100vh;
        width: 20rem;
		right: 0;
		top: 3.5rem;
        position: absolute;
		padding-top: 10rem;
		transform: translate(0%);
		transition: transform .75s ease-in-out;
		@apply text-xs text-white text-left flex isolate flex-col space-y-4 xl:flex-row xl:space-y-0 xl:px-4 xl:pt-0 xl:text-center xl:shadow-none xl:transform-none xl:top-0 xl:space-x-8 xl:h-auto xl:hidden xl:w-auto xl:relative z-100 bg-cyan-200;
	}

	.mobile-nav {
		transform: translateY(-130%) !important;
	}

    .unset{
        display: unset;
    }


}

#burger.open span:first-child {
    transform: rotate(45deg);
    margin-bottom: 0rem;
}

#burger.open span:last-child {
    transform: rotate(-45deg);
}
